.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.avatar{
    width: 200px;
}

.container{
    display: block;
    text-align: center;
}

.aboutSection, .skillsSection{
    display: block;
    text-align: center;
}

.aboutMeText, .skillsText{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.skillsText{
    text-align: left;
}
